@import "tailwindcss";

@theme {
  --color-primary-bg: #141417;
  --color-accent-bg: #1A1A1A;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #A1A1A1;
  
  --font-family-inter: 'Inter', sans-serif;
  --font-inter: var(--font-family-inter);
}

@layer base {
  body {
    background-color: var(--color-primary-bg);
    color: var(--color-primary-text);
  }
}
